.begin{
  height: 23rem;
  width: 120rem;
    background-image: url(/Pics/Beginning.jpg);  
    position : absolute; 
    left: 0px;
    top: 0px;
}
.text{
  position: absolute; 
  top: 6rem;
  right: 20rem;
  font-style: italic; 
  color: white;
  font-size: 1.7rem;
}
.button{
  border:none;
  cursor: pointer;
  color: white;
  background-color:#33d87d;
  display:inline-block;
  font-size: 1rem;
  font-style: bold;
  position:absolute;
  top: 1.5rem;
  right: 3rem;
  width: 8rem;
  height: 2.9rem;
  border-radius: 12px;
  transition: all 250ms ease-in;
}

.button:hover {
  background-color: white;
  color:#33d87d;
  transition: all 250ms ease-in;
}
.second{
  position:absolute;
  right:0rem;
  top:0rem;
   width: 120rem;
   height: 24rem;
   background-color:#00b7ff;
}
.buttonb{
  border:none;
  cursor: pointer;
  color: white;
  background-color:#33d87d;
  display:inline-block;
  font-size: 1rem;
  font-style: bold;
  position:absolute;
  top: 1.5rem;
  right: 3rem;
  width: 8rem;
  height: 2.9rem;
  border-radius: 12px;
  transition: all 250ms ease-in;
}

.buttonb:hover {
  background-color: white;
  color:#33d87d;
  transition: all 250ms ease-in;
}
.elsys{
  height: 10rem;
  width: 10rem;
  position : absolute; 
  right: 108rem;
  top: 5rem;
}
.texts{
  position: absolute; 
  top: 15rem;
  right: 33rem;
  font-style: italic; 
  color: white;
  font-size: 1.8rem;
}
.textunder{
  position: absolute;
  top:22rem;
  right:40rem;
  color:black;
  font-size: 1.8rem;
  font-style: italic;
}
.reason{
  position: absolute;
  top:27rem;
  right:80rem;
  color:black;
  font-size: 1.8rem;
  font-style: italic;
}
.reasons{
  position: absolute;
  top:27rem;
  right:40rem;
  color:black;
  font-size: 1.8rem;
  font-style: italic;
}
.reasont{
  position: absolute;
  top:27rem;
  right:7rem;
  color:black;
  font-size: 1.8rem;
  font-style: italic;
}
.black{
  height: 25rem;
  width: 110rem;
  position : absolute; 
  right: 5rem;
  top: 28rem;
  background-color:#f5f5f6;
  border-radius: 15px;
}
.aboutus{
  border:none;
  cursor:pointer;
  background-color: rgba(255, 255, 255, 0);
  color:rgb(255, 255, 255);
  width: 5rem;
  height: 1rem;
  position: absolute;
  top: 2.4rem;
  right: 13rem;
  font-style:bold;
  font-size: 1rem;
}
.aboutus:hover{
  background-color: rgba(255, 255, 255, 0);
  color:black;
}
.discord{
  border-radius: 360px;
  height: 12rem;
  width: 12rem;
  position : absolute; 
  right: 5rem;
  top: 350px;

}
.twitter{
  border-radius: 360px;
  height: 12rem;
  width: 12rem;
  position : absolute; 
  right: 30rem;
  top: 350px;

}
.tiktok{
  border-radius: 45px;
  height: 12rem;
  width: 12rem;
  position : absolute; 
  right: 55rem;
  top: 350px;

}
.facebook{
  border-radius: 360px;
  height: 12rem;
  width: 12rem;
  position : absolute; 
  right: 80rem;
  top: 350px;

}
.instagram{
  border-radius: 45px;
  height: 12rem;
  width: 12rem;
  position : absolute; 
  right: 105rem;
  top: 350px;
}
.backus{
  border:none;
  cursor:pointer;
  background-color: rgba(255, 255, 255, 0);
  color:rgb(255, 255, 255);
  width: 5rem;
  height: 1rem;
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-style:bold;
  font-size: 1rem;
}
.backus:hover{
  background-color: rgba(255, 255, 255, 0);
  color:black;
}
.fan{
  border-radius: 12px;
  height: 10rem;
  width: 20rem;
  position :absolute; 
  right: 50rem;
  top: 60rem;
  background-color:#f5f5f6;
  writing-mode: sideways-lr;
  transform: rotate(-9deg);
}
.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position:absolute;
  top: 0.7rem;
  right: 16.5rem;
}
.david{
  position:absolute;
  right:11rem;
  top: -0.4rem;
  height: 10rem;
  width: 5rem;
  font-style: italic;
}
.month{
  position:absolute;
  right:8rem;
  top: 3rem;
  height: 10rem;
  width: 8rem;
  color:rgb(172, 171, 171);
  font-style: italic;
}

.info{
  position: absolute;
  top:9rem;
  right:22rem;
  color:rgb(255, 255, 255);
  font-size: 2rem;
  font-style: italic;
}
.why{
  position:absolute;
  top: 4rem;
  right: 4rem;
  font-size: 1rem;
  font-style: italic;
}.fans{
  border-radius: 12px;
  height: 10rem;
  width: 20rem;
  position :absolute; 
  right: 72rem;
  top: 60rem;
  background-color:#f5f5f6;
  writing-mode: sideways-lr;
  transform: rotate(8deg);
}
.avatars {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position:absolute;
  top: 0.7rem;
  right: 16.5rem;
}
.emily{
  position:absolute;
  right:11rem;
  top: -0.4rem;
  height: 10rem;
  width: 5rem;
  font-style: italic;
}
.months{
  position:absolute;
  right:8rem;
  top: 3rem;
  height: 10rem;
  width: 8rem;
  color:rgb(172, 171, 171);
  font-style: italic;
}
.whys{
  position:absolute;
  top: 4rem;
  right: 4rem;
  font-size: 1rem;
  font-style: italic;
}
.fant{
  border-radius: 12px;
  height: 10rem;
  width: 20rem;
  position :absolute; 
  right: 28rem;
  top: 60rem;
  background-color:#f5f5f6;
  writing-mode: sideways-lr;
  transform: rotate(11deg);
}
.avatart {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position:absolute;
  top: 0.7rem;
  right: 16.5rem;
}
.yoan{
  position:absolute;
  right:11rem;
  top: -0.4rem;
  height: 10rem;
  width: 5rem;
  font-style: italic;
}
.montht{
  position:absolute;
  right:8rem;
  top: 3rem;
  height: 10rem;
  width: 8rem;
  color:rgb(172, 171, 171);
  font-style: italic;
}
.whyt{
  position:absolute;
  top: 4rem;
  right: 4rem;
  font-size: 1rem;
  font-style: italic;
}
.backcont{
  border:none;
  cursor: pointer;
  color: white;
  background-color:#33d87d;
  display:inline-block;
  font-size: 1rem;
  font-style: bold;
  position:absolute;
  top: 1rem;
  right: 2rem;
  width: 8rem;
  height: 2.9rem;
  border-radius: 12px;
  transition: all 250ms ease-in;
}
.backcont:hover{
  background-color: white;
  color:#33d87d;
  transition: all 250ms ease-in;
}
.cart{
  position: absolute;
  top: 0.5rem;
  right: 110.5rem;
  height: 4.2rem;
  width: 5rem;
}
.concert{
  position: absolute;
  top: 25rem;
  right: 65rem;
  background-color: #f5f5f6;
  width: 50rem;
  height: 20rem;
  border-radius: 12px;
  transition: all 250ms ease-in ;
}
.concert:hover{
  cursor: pointer;
  background-color: rgb(206, 206, 206);
  transition: all 250ms ease-in ;
}
.ticket1{
  position: absolute;
  top: 2rem;
  right: 28rem;
  height: 12.5rem;
  width: 21rem;
  border-radius: 12px;
}
.place1{
  position: absolute;
  top: 4rem;
  right: 0rem;
  font-size: 1.9rem;
  font-style: italic;
}
.dayandtime1{
  position: absolute;
  top: 7rem;
  right: 6rem;
  font-size: 1.5rem;
  font-style: italic;
}
.price1{
  position: absolute;
  top: 10rem;
  right: 10rem;
  font-size: 1.3rem;
  font-style: italic;
}
.buy{
  border:none;
  cursor: pointer;
  color: white;
  background-color:#33d87d;
  display:inline-block;
  font-size: 1rem;
  font-style: bold;
  position:absolute;
  top: 16rem;
  right: 1rem;
  width: 8rem;
  height: 2.9rem;
  border-radius: 12px;
  transition: all 250ms ease-in;
}
.buy:hover{
  background-color: white;
  color:#33d87d;
  transition: all 250ms ease-in;
}
.sorry{
  color: rgb(0, 0, 0);
  position: absolute;
  top: 20rem;
  right: 35rem;
  font-size: 5rem;
}